* {
	margin: 0px;
	padding: 0px;
	
}

#main {
	background-color: rgba(191, 191, 191, 0.22);
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}



.result_post {
	padding: 0px 41px;
    width: 48%;
    background-color: #fff;
	border: 1px solid #d4d4d4;
}
.create_post {
	width: 41%;
	background-color: #fff;
	border: 1px solid #d4d4d4;
	padding: 15px;
}
#create h1 {
	text-align: center;
	padding: 10px;
}

#create > label {
	display: block;
	padding: 5px;
}
#create span {
	display: inline-block;
    width: 100px;
    font-size: 14px;
    font-weight: 800;
}
#create textarea {
	background-color: #f3f1f1;
	border: none;
	border-radius: 5px;
}
#create > label > input {
	background-color: #f3f1f1;
	border: none;
	border-radius: 5px;
	width: 402px;
	height: 18px;
}
#create > button {
	width: 73%;
    display: block;
    height: 31px;
    background-color: #f5e010;
    border: none;
    border-radius: 5px;
    font-weight: 800;
    margin: 13px 0px 0px 109px;
}
.load_img {
	padding: 5px;
}
.load_img :last-child {
	margin: 3px 0px;
}
.file_load {
	position: relative;
	font-weight: bold;
    padding: 7px 149px;
    background-color: #f3f1f1;
    border-radius: 6px;
    color: #ea1d11;
}
#file_name {
	width: 100%;
}
.file_load i {
	position: absolute;
	top: 0px;
	color: #ea1d11;
	padding: 0px 10px;
}
.file_load > input {
	width: 0px;
	overflow: hidden;
	opacity: 0;
}
.load_img > div > input {
	margin: 6px 0px;
	display: inline-block;
	height: 30px;
	width: 74%;
	background-color: #f3f1f1;
	border: none;
	border-radius: 5px;
}

#loaded_img {
    margin-left: 104px;
    height: 150px;
    width: 402px;
    border: none;
    border-radius: 5px;
    background-color: #f3f1f1;
} 
#loaded_img img {
	 width: 100%;
    height: 150px;
    border-radius: 10px;
}

.result_post h1 {
	text-align: center;
}
.result_post div {
	padding: 5px;
}

.main_line {
	height: 30px;
}
.post_name_author {
	float: left;
	margin: 5px 25px;
	color: #0093ff;
	font-weight: bold;
	font-size: 17px;
}
.post_date_created {
	float: right;
	margin: 5px 25px;
	font-style: italic;
	color: #a5a3a3;
	font-weight: bold;
}
.image_post {
	text-align: center;
}
.image_post img {
	width: 90%;
	height: 350px;
} 

.text_post p {
	margin: auto;
	width: 90%;
	text-align: justify;
}
.post_button {
	height: 50px;
}
._likes {
	background-color: #7accf17a;
    border: none;
	color: #1980cc;
    height: 29px;
    position: relative;
    float: left;
    margin: 5px 32px;
    width: 140px;
}
._likes i {
	position: absolute;
    color: #1980cc;
    left: 14px;
    top: 2px;
}
._add_comments {
	font-size: 12px;
    font-weight: bold;
    width: 133px;
    float: right;
    padding: 5px;
    margin: 5px 32px;
    border: none;
    background-color: #ffb20d36;
    height: 31px;
}
.show_comments {
	border: none;
    float: right;
    padding: 5px;
    margin: 5px;
    color: #dcdcdc;
    background-color: #fff;
}

#all_comments {
    width: 92%;
    display: block;
    margin: auto;
}
.current_comment {
	background-color: #f3f1f152;
	height: 100%;
	border-radius: 10px;
	width: 95%;
    margin: 5px auto;
}
.current_comment > div {
	height: 20px;
}
.current_comment > p {
	width: 90%;
    margin: auto;
} 
.comments_author_name {
	float: left;
	font-weight: bold;
}
.comments_date_created {
	float: right;
	font-style: italic;
    color: #8e8c8c;
}
.form_display_none {
	display: none;
}
#create_comments {
	width: 90%;
	width: 585px;
    height: 150px;
    margin: auto;
}
#create_comments > * {
	display: block;
	border:none;
	background-color: #f3f1f1;
	border-radius: 5px;
	width: 98%;
    margin: 6px auto;
    padding: 4px 0px;
}
#create_comments > button {
	background-color: #f5e010;
	font-weight: 800;
}